<header class="section grid">
    <nav class="level is-mobile grid-xl">
        <div class="level-left">
            <a class="level-item" href="/">
                <p class="title">Rigo Moran</p>
            </a>
        </div>
        <div class="level-right">
            <a class="level-item" href="/blog">
                <p class="subtitle">writing</p>
            </a>
            <a class="level-item" href="/til">
                <p class="subtitle">til</p>
            </a>
        </div>
    </nav>
</header>