<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href={{ "favicon.ico" | absURL }} sizes="any">
    <link rel="icon" href={{ "icon.svg" | absURL }} type="image/svg+xml">
    <link rel="apple-touch-icon" href={{ "apple-touch-icon.png" | absURL }} type="image/png">

    <title>{{ .Title | default .Site.Title }}</title>
    <meta name="author" content="{{ .Site.Title }}">
    <!-- <meta name="image" property="og:image" content="https://hashnode.com/utility/r?url=https%3A%2F%2Fcdn.hashnode.com%2Fres%2Fhashnode%2Fimage%2Fupload%2Fv1727731845567%2Fdfb2cdb8-4c4a-4ca4-84a0-a6f30fa7fcaa.png%3Fw%3D1200%26h%3D630%26fit%3Dcrop%26crop%3Dentropy%26auto%3Dcompress%2Cformat%26format%3Dwebp%26fm%3Dpng"> -->
    <meta name="description" content="{{ .Title | default .Site.Title }}">
    <!-- <meta property="article:author" content="https://hashnode.com/@rigomoran"> -->


    <meta property="og:title" content="{{ .Title | default .Site.Title }}">
    <meta property="og:desc" content={{ .Page.Params.seoDescription | default .Site.Title }}>
    <meta property="og:site_name" content={{ .Site.Title }}>
    <meta property="og:url" content={{ .Permalink }}>
    {{ if eq .Kind "page" }}
    <meta property="og:type" content="article" />
    {{ else }}
    <meta property="og:type" content="website" />
    {{ end }}
    

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:description" content={{ .Page.Params.seoDescription | default .Site.Title }}>
    <!-- <meta property="twitter:image" content="https://hashnode.com/utility/r?url=https%3A%2F%2Fcdn.hashnode.com%2Fres%2Fhashnode%2Fimage%2Fupload%2Fv1727731845567%2Fdfb2cdb8-4c4a-4ca4-84a0-a6f30fa7fcaa.png%3Fw%3D1200%26h%3D630%26fit%3Dcrop%26crop%3Dentropy%26auto%3Dcompress%2Cformat%26format%3Dwebp%26fm%3Dpng"> -->
    <meta property="twitter:title" content="{{ .Title | default .Site.Title }}">

    <link rel="canonical" href="{{ .Page.Params.Canonical | default .Permalink }}" />

    {{ partial "robots" . }}

    {{ if (ne .Type `talks`) }}
    {{ $main := resources.Get "/css/main.css" }}
    <link rel="stylesheet" href="{{ $main.Permalink }}">
    {{ end }}
</head>
