<div class="container mx-auto px-3">
    {{ range ( where site.RegularPages "Type" "in" site.Params.mainSections ) }}
    <div class="py-3">
        <p class="text-sm">Published: {{ .PublishDate | time.Format "Jan 2, 2006" }}</p>
        <a href="{{ .Permalink }}">
            <h2 class="text-xl font-bold">{{ .Title }}</h2>
        </a>
        <p class="text-lg">{{ .Summary }}</p>
        {{ range .Params.tags }}
        <a href="{{ . }}"><span class="pr-2">#{{ . }}</span></a>
        {{ end }}
    </div>
    {{ end }}
</div>