<header class="w-full mx-auto pt-10 bg-violet-400">
    <div class="text-4xl font-semibold">
        <a href="{{ .Site.Home.RelPermalink }}">
            {{ .Site.Title | default .Title }}
        </a>
    </div>
</header>
<!-- <header class="container mx-auto max-w-md pt-3 px-3 md:max-w-2xl lg:max-w-4xl">
    <div class="flex justify-between text-xl font-semibold">
        <a href="{{ .Site.Home.RelPermalink }}">
            {{ .Site.Title | default .Title }}
        </a>
        <div class="flex items-center">
            <nav>
                <ul class="flex items-center gap-4">
                    <li><a href="/ideas">Blog</a></li>
                    <li><a href="/til">TIL</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header> -->