{{ $current := .RelPermalink }}
<nav class="flex items-center justify-center space-x-3 text-xl">
    {{ range .Site.Menus.main }}
    <a class="{{ if eq $current .PageRef }}{{ print `font-semibold` }}{{end}}" href="{{ .PageRef }}">{{
        .Name}}</a>
    {{ end }}

    <!--{{ $dark := print "/assets/icons/" "moon" ".svg" }}-->
    <!--{{ if fileExists $dark }}-->
    <!--<button onclick="themeToggle()" class="flex items-center">-->
    <!--    <span class="flex w-5 items-center">-->
    <!--        {{ readFile $dark | safeHTML }}-->
    <!--    </span>-->
    <!--</button>-->
    <!--{{ end }}-->
</nav>
