<table class="table-auto w-full px-4 mx-auto sm:text-xl">
    <thead>
        <th class="text-start px-4">Name</th>
        <th class="text-start">Date</th>
        <th class="text-start hidden md:block">type</th>
    </thead>
    <tbody class="px-4 pt-2">
        {{ range ( where site.RegularPages "Type" "in" "til" ) }}
        <tr>
            <td class="px-4 pt-3"><a href="{{ .Permalink }}">{{ .Title }}</a></td>
            <td class="pt-3">
                <span class="hidden lg:block">{{ .PublishDate | time.Format "Mon, Jan 2, 2006" }}</span>
                <span class="lg:hidden">{{ .PublishDate | time.Format "Jan 2006" }}</span>
            </td>
            <td class="hidden md:block pt-3">{{ range (first 1 .Params.tags) }}<a class="pl-1">{{ . }}</a>{{ end }}
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>