{{ define "main" }}
<div id="logo" class="flex-none w-24 pt-20">
    {{ if .Site.Params.Logo }}
    {{ $logo := print "/assets/icons/" .Site.Params.logo ".svg" }}
    {{ if fileExists $logo }}
    <a href="{{ " /" | relLangURL }}" title="home">
        {{ readFile $logo | safeHTML }}
    </a>
    {{ end }}
    {{ end }}
</div>

<article class="text-xl prose pt-7 pb-20">
    {{ .Content }}
</article>

<section class="">
    <h2 class="text-xl text-center pb-10"><em>Latest Posts</em></h2>
    {{ .Scratch.Set "limit" 3 }}
    {{- partial "ideas.html" . -}}
</section>
{{ end }}
