html,
nav {
    background: radial-gradient(#c6c5c5 1px, #fff 1px) 0 0 / 20px 20px;
}

body {
    margin: 0 auto;
    max-width: 50em;
    font-weight: 500;
}


nav h1 {
    color: #363636;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.125;
}

nav h2 {
    color: #4a4a4a;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
}

hr {
    background-color: #363636;
    height: 3px;
}

.highlight pre {
    border-radius: 0.375rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.bio a {
    border-bottom: .2rem dotted;
}

.bio h1,
.bio h2,
.bio h3 {
    line-height: 2.5rem;
}

.is-medium-icon {
    width: 1.7rem;
    height: 1.7rem;
}

.post-title {
    color: #363636;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.125;
}


.post-subtitle {
    color: #4a4a4a;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
}

/*
header {
    height: 120px;
}


.grid {
    display: grid;
    grid-template-columns: 0.7fr [xl-start] 0.3fr [md-start] minmax(0, 624px) [md-end] .3fr [xl-end] .7fr;
}

.grid * {
    grid-column: md;
}

.grid-xl {
    grid-column: xl;
}

.entry {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.entry-start {
    grid-column: 1 / 2;
}

.entry-end {
    grid-column: 2 / 2;
    display: flex;
    justify-content: end;
}

.entry1 {
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
} */