{{ define "main" }}
<div class="pt-20 pb-20">
    <div class="prose text-2xl">
        {{ .Content }}
    </div>
    <!-- <hr class="my-6 border-y-2 rounded border-black"> -->
</div>

<div class="pb-10">
    {{ range ( where site.RegularPages "Params.tags" "intersect" (slice "til") ) }}
    <a class="flex p-2" href="{{ .Permalink }}" style="border-bottom: solid 1px #555765; gap:30px">
        <span class="flex-auto font-medium text-lg text-start">{{ .Title }}
            {{ range (.Params.Tags) }}
                {{ if ne . "til" }}
                <span class="text-sm font-normal bg-blue rounded-md px-2 {{ . }}" style="color:#f6f8ff">{{ . }}</span>
                {{ end }}     
            {{ end }}
        </span>
        <span class="font-medium text-end" style="color:#555765; flex:0 0 auto">{{ .PublishDate | time.Format "2 Jan 06" }}</span>
    </a>
    {{ end }}
</div>
{{ end }}
