{{ define "main" }}
<section class="section is-medium">
    <h1 class="title">today i learned</h1>
    <h2 class="subtitle">
        {{ .Content }}
    </h2>
</section>

<hr />

{{ range .Pages }}
<div class="level is-mobile align-items">
    <div class=" level-item">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </div>
    <div class="level-item">
        <p>{{ .PublishDate | time.Format "Mon, Jan 2, 2006" }}</p>
    </div>
    <div class="level-item">
        <p>{{ first 1 .Params.tags }}</p>
    </div>
</div>
{{ end }}

{{ end }}